:root{
    /* Colors */
    --primary-color:#434455;
    --light-bg:#FFFFFF;
    --hover-focus-color: #404bbf;
    --text-button-color: #4d5ae5;
    --button-background-color: #F4F4FD;
    --button-hover-focus-color: #FFFFFF;
    --button-hover-focus-background-color: #404BBF;
    --row-list-headline-color: #2e2f42;
}
body{
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
    background-color:#FFFFFF;
}
.link{
    color: var(--iris, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}
.list{
    list-style: none;
} 
